.prj1Info {
    font-size: x-large;
}

.bioInfo {
    font-size: xx-large;
}

.largeFont {
    font-size: 6rem;
    padding-bottom: 3rem;
}

.profilePicture {
    width: 600px;
    height: 420px;
}

.mainProjectPic {
    width: 600px;
    height: 420px;
}

.card {
    border: solid 1px lightseagreen;
    margin: 2rem;
}
